@model TimetableSys_T17.Models.RequestModel
@{
    ViewBag.Title = "Submit Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<b> Do not remove - READ COMMENTS </b>-->


<!-- ERROR TRAPPING REQUIRED - If user does park then room, it should then filter building. --> 
<!-- On submit, query to ensure that the booking details are consistant. -->

<!-- Extra filters based on available rooms!!!! -->
<h2>Create Request</h2>
<div class="widget">
    <h1>Mandaory Requests</h1><hr />
    <select id="module_code_input" multiple="multiple"></select><br /><!--<button id="module-code-input"> Clear All </button>-->
    <select id="module_title_input" multiple="multiple"></select><br />
    <select id="session_type_input" multiple="multiple"></select><br />
    <br /><br />
</div>
    <div class="widget">
        <h1>Optional Requests</h1><hr />
        <select id="parks_input" multiple="multiple"></select><br />
        <select id="buildings_input" multiple="multiple"></select><br />
        <select id="rooms_input" multiple="multiple"></select><br />
        <select id="facilities_input" multiple="multiple"></select><br />
        </div>
<div class="widget">
    <br />
    <h1>Special Requirements:</h1><hr /><textarea id="special_requirements" rows="3" cols="1500"></textarea>
</div>
<div class="widget2">
    <br />
        <span>1: <input id="room_i" /></span><br />
        <span>2: <input id="room_ii" /></span><br />
        <span>3: <input id="room_iii" /></span><br />
</div>        
        <div id="weeks_container">

            <input class="test" type="checkbox" id="week_i" name="weeks" /><label for="week_i"> 1 </label>
            <input class="test" type="checkbox" id="week_ii" name="weeks" /><label for="week_ii"> 2 </label>
            <input class="test" type="checkbox" id="week_iii" name="weeks" /><label for="week_iii"> 3 </label>
            <input class="test" type="checkbox" id="week_iv" name="weeks" /><label for="week_iv"> 4 </label>
            <input class="test" type="checkbox" id="week_v" name="weeks" /><label for="week_v"> 5 </label>
            <input class="test" type="checkbox" id="week_vi" name="weeks" /><label for="week_vi"> 6 </label>
            <input class="test" type="checkbox" id="week_vii" name="weeks" /><label for="week_vii"> 7 </label>
            <input class="test" type="checkbox" id="week_viii" name="weeks" /><label for="week_viii"> 8 </label>
            <input class="test" type="checkbox" id="week_ix" name="weeks" /><label for="week_ix"> 9 </label>
            <input class="test" type="checkbox" id="week_x" name="weeks" /><label for="week_x"> 10 </label>
            <input class="test" type="checkbox" id="week_xi" name="weeks" /><label for="week_xi"> 11 </label>
            <input class="test" type="checkbox" id="week_xii" name="weeks" /><label for="week_xii"> 12 </label>
            <input class="test" type="checkbox" id="week_xiii" name="weeks" /><label for="week_xiii"> 13 </label>
            <input class="test" type="checkbox" id="week_xiv" name="weeks" /><label for="week_xiv"> 14 </label>
            <input class="test" type="checkbox" id="week_xv" name="weeks" /><label for="week_xv"> 15 </label>

        </div>


        <div id="timetable"> </div>

        <input type="button" value="Push it, push the big red button!" style="color: white; background-color: red; font-weight: bold;" onclick="Submit()" />
</div>





