@model TimetableSys_T17.RoundInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RoundInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            End Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.round }) |
    @Html.ActionLink("Back to List", "Index")
</p>
