@model TimetableSys_T17.Facility

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Facility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Facility Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facilityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.facilityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
